{%extends "www.walbrix.co.jp/page.html.j2"%}
{%block headings%}
<div class="jumbotron oscar">
<div class="container" style="padding-top:60px;color:#fff">
<h2 style="font-size:64px;line-height:60px;text-shadow: 2px 2px 1px #005,-2px 2px 1px #005,2px -2px 1px #005,-2px -2px 1px #005;">全文検索NAS</h2>
<p class="lead">最新の検索技術が、あなたのビジネスに効率をもたらします</p>
<p>{{summary}}</p>
<p><big>専用お問い合わせ番号 050-3159-5792</big>(朝8時〜夜10時,年中無休) メール: <a href="mailto:{{inquiry_address}}">{{inquiry_address}}</a></p>
<div class="socialbuttons" style="margin-top:1em;">
  <div class="twitter pull-left"></div>
  <div class="facebook pull-left"></div>
  <div class="google pull-left"></div>
  <div class="hatena pull-left"></div>
</div>
<div class="clearfix"></div>
</div>

</div>

<aside class="social">
  <div class="social-button">
    <ul>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-dnt="true">ツイート</a></li>
      <li><div class="fb-like" data-href="{{request.requestURL}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
      <li><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;"></a></li>
    </ul>
  </div>
</aside>
{%endblock%}

{%block content%}
<div id="features" class="features_page">
  <div class="container">
    <div class="panel panel-success">
      <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span> 今すぐ無料でお試しください</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-7">
            <p>専用OSをインストールすれば、使わなくなったパソコンを全文検索NASとして再利用できます。個人利用なら試用期限無期限で実質無料。</p>
            <p>インストールや機能に関するお問い合わせは 050-3159-5792 まで(朝8時〜夜10時,年中無休)</p>
          </div>
          <div class="col-sm-5">
            <p><a class="btn btn-success btn-lg btn-block" href="http://www.walbrix.net/download.html" target="_blank" style="white-space: normal"><span class="glyphicon glyphicon-download-alt"></span> 専用OS「Walbrix」をダウンロード<br><small>メールを送っておいて後でダウンロードすることもできます</small></br></a></p>
                  <p><a class="btn btn-default btn-lg btn-block" href="http://assets.walbrix.com/product/oscar/oscar-manual-0.3.pdf" target="_blank" style="white-space: normal"><span class="glyphicon glyphicon-book"></span> マニュアルをダウンロード(PDF)</a></p>
          </div>
        </div>
      </div>
    </div>

    <h2>朗報: フォルダを細かく作る必要はもうありません。</h2>

    <p class="lead">文書ファイルの全文検索を実現し、ファイル管理の手間を大幅に削減します</p>
    <p>ありとあらゆるビジネスの場面でパソコンが使用されるようになってから十数年が経つ今、蓄積した膨大な文書ファイルの整理は頭の痛い問題です。「5年前の記録が今になって必要になってしまったのだけど、担当者が異動になってしまっていて所在がわからない…」などということはよくあります。でもファイルを全文検索NASに保存しておけば大丈夫。フォルダをひたすらダブルクリックして探し回らなくても、キーワードで瞬時にインデックス検索して目的の文書ファイルを見つけ出すことができるのです。キーワードで検索できるとなればフォルダ分けによる分類整理も今までのように細かくする必要はなくなり、ざっくりで済んでしまううえに、異動に伴う業務の引き継ぎコストも削減できます。</p>
    <div class="feature_wrapper option1">
      <div class="row feature">
        <div class="col-sm-6">
          <img src="http://static.walbrix.net/va/oscar/nas.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-6 info">
          <h3>NASとは？</h3>
          <p>NAS (Network Attached Storage)とは、ネットワーク接続型のハードディスク（ストレージ）です。<p>
          <p>NASは社内の全てのPCから利用出来る「共有フォルダ」として機能するシステムです。NASがあれば、ファイルをUSBメモリで受け渡したり、隣の席の人にメールで送ったりしなくて良くなります。</p>
        </div>
      </div>
      <div class="row feature">
        <div class="col-sm-6 info">
          <h3>全文検索 <small> - 目的の文書へ最速で到達</small></h3>
          <p class="lead">ファイル名やフォルダ名を思い出せなくても構いません</p>
          <p>全文検索NASはワード、エクセル、パワーポイントといったオフィス文書やPDFファイルの<strong>中身まで</strong>を高速に検索できる<strong>全文検索エンジン</strong>を搭載。ファイル名がわからなくてもインターネットで情報を検索するときのように思いついたキーワード（固有名詞や出来事など）をいくつか与えるだけで全てのフォルダから目的の文書ファイルを探し出せるのです。<p>
          </p>
        </div>
        <div class="col-sm-6 info">
          <img src="http://assets.walbrix.com/finderix-managed/fulltext.png" class="img-fluid" />
        </div>
      </div>
    </div>

    <p><img src="oscar01.jpg" class="img-fluid"></p>

    <h2>朗報その2: 普通のパソコンが簡単操作で全文検索NASに生まれ変わります。</h2>
    <p class="lead">廃棄予定のXPパソコン、捨てる前に再利用してみませんか</p>
    <p>マイクロソフト社が Windows XPに更新プログラムを提供するのを終了し、多くの企業で Windows XP搭載パソコンは随時廃棄されてゆく運命にあります。また、ご家庭にも使わなくなった XPパソコンがあるのではないでしょうか。全文検索NASは、専用の<strong>無料</strong>オペレーティングシステム <a href="http://www.walbrix.net" target="_blank">Walbrix(ワルブリックス)</a>で動作するソフトウェア製品ですので、使われなくなったパソコンにインストール(※)することで費用をほとんどかけずに試用することができます。</p>

    <h3>無料の専用OS Walbrix(ワルブリックス)</h3>

    <div class="row">
      <div class="col-sm-6">
        <img src="oscar02.png" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <img src="oscar03.png" class="img-fluid">
      </div>
    </div>

    <p>専用OSの画面から簡単に全文検索NASをインストール</p>

    <p>※全文検索NASを試用いただくには、インテル Core2Duo以降など64bit対応のプロセッサとと1GB(OSに512MB、全文検索NASに最低512MBが必要です)以上のメモリを搭載したパソコンをご用意ください。なお Walbrixをインストールすることにより元の OS(Windows)は消去されます。</p>

    <div class="panel panel-success">
      <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span> 今すぐ無料でお試しください</div>
      <div class="panel-body">
    <div class="row">
    <div class="col-sm-7">
      <p>専用OSをインストールすれば、使わなくなったパソコンを全文検索NASとして再利用できます。個人利用なら試用期限無期限で実質無料。</p>
      <p>インストールや機能に関するお問い合わせは 050-3159-5792 まで(朝8時〜夜10時,年中無休)</p>
    </div>
    <div class="col-sm-5">
      <p><a class="btn btn-success btn-lg btn-block" href="http://www.walbrix.net/download.html" target="_blank" style="white-space: normal"><span class="glyphicon glyphicon-download-alt"></span> 専用OS「Walbrix」をダウンロード<br><small>メールを送っておいて後でダウンロードすることもできます</small></br></a></p>
            <p><a class="btn btn-default btn-lg btn-block" href="http://assets.walbrix.com/product/oscar/oscar-manual-0.3.pdf" target="_blank" style="white-space: normal"><span class="glyphicon glyphicon-book"></span> マニュアルをダウンロード(PDF)</a></p>
    </div>
    </div>
      </div>
    </div>

    <h3>専用OSなのでOS代金が無料</h3>

    <table class="table">
      <thead>
        <tr><td></td><td>他社製全文検索ソリューション</td><td>全文検索NAS</td></tr>
      </thead>
      <tr><td>動作に必要なオペレーティングシステム</td><td>サーバー版Windows(実売最低8万円程度)</td><td><a href="http://www.walbrix.net" target="_blank">専用OS</a>(<strong>無料</strong>)</td></tr>
      <tr><td>ユーザー数に応じた追加ライセンス料金</td><td>CALを購入する必要あり</td><td><strong>無料</strong></td></tr>
    </table>

    <div class="feature_wrapper option1">
      <div class="row feature">
        <div class="col-sm-6">
          <img src="http://static.walbrix.net/va/oscar/confidential.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-6 info">
          <h3>門外不出 <small> - インターネットとは違います</small></h3>
          <p class="lead">クラウドは使用禁止ですか？でも大丈夫</p>
          <p>「検索が便利なのはわかるけど、規則上社外に文書ファイルを保存すことはできない」「インターネット回線が速くないので外にファイルを置くと遅くて不便」…心配ご無用、全文検索NASはインターネット上のクラウドサービスではありません。本製品はお客様の事業所内に設置するオンプレミス<small>※</small>なシステムです。</p>
          <p><small>※オンプレミス＝社内設置。クラウドの対義語。</small></p>
          <p>したがって文書の外部送信に関する規定の設けられた場所でも問題なく運用できますし、インターネット接続の速度が通常100Mbpsなのに対し一般的な社内LANは 1G(1000M)bpsと10倍ですから、速度の差は圧倒的です。<p>
        </div>
      </div>
    </div>

    <h2>朗報その3: 試用は無料です。</h2>
    <p>全文検索NASは無料でインストールして「試用」することができます。試用期限はありませんので、十分にその有効性をご確認になってからライセンスをご購入いただくことができます。試用版には広告が入るほか一部機能制限がありますが、<strong>個人利用で広告の表示や機能制限が問題にならない方は試用モードのままずっとお使い頂いても問題ありません</strong>。</p>
    <p><a href="https://spike.cc/p/xtu18zTC" target="_blank">ライセンスキーを購入</a>すると広告が表示されなくなり、機能制限がなくなります。</p>

    <div class="feature_wrapper option2" style="margin-top:60px;">
      <div class="section_header">
        <h3>その他の特徴</h3>
      </div>

      <!-- Features Row -->
      <div class="row">
        <!-- Feature -->
        <div class="col-sm-6 feature">
          <div class="box">
            <img class="one" src="http://assets.walbrix.com/finderix-managed/features-ico1.png" />
          </div>
          <div class="text">
            <h6>アクセス制限機能</h6>
            <p>一般的なNASと同様、各共有フォルダごとにユーザー名とパスワードによるアクセス制限をかけることができます。また、グループを定義してグループ単位でのアクセス許可設定を行うことも可能です<small>※</small>。</p>
            <p><small>※試用モードではユーザーやグループを設定することはできますが実際にはアクセス制限が適用されません</small></p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-sm-6 feature right">
          <div class="box">
            <img class="two" src="http://assets.walbrix.com/finderix-managed/features-ico1.png" />
          </div>
          <div class="text">
            <h6>保守サービス</h6>
            <p>保守サービスを別途ご契約頂くと、お客様オフィス内に設置された全文検索NASと当社の間で、強固に暗号化された通信経路を作成し、自動バックアップの設定等を行いお客様のデータがしっかりバックアップされているか定期的に遠隔チェックいたします。</p>
      <p>また、機器の設定変更やデータ消失時のバックアップからの復元についても遠隔から対応いたします。</p>
          </div>
        </div>
      </div>

      <!-- Features Row -->
      <div class="row last">
        <!-- Feature -->
        <div class="col-sm-6 feature">
          <div class="box">
            <img class="one" src="http://assets.walbrix.com/finderix-managed/features-ico1.png" />
          </div>
          <div class="text">
            <h6>自動同期機能</h6>
            <p>既にNASを導入済みで全文検索NASへの即時移行が難しい場合は、全文検索NASの自動同期機能をお使いください。毎週、指定の曜日時刻に他のNASの共有フォルダを自動的に複製します。この機能により、全文検索NASを社内検索サーバーとしてもお使いになれます。</p>
            <p><img src="oscar06.png" class="img-fluidl"></p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-sm-6 feature right">
          <div class="box">
            <img class="two" src="http://assets.walbrix.com/finderix-managed/features-ico1.png" />
          </div>
          <div class="text">
            <h6>外出先からもアクセス</h6>
            <p>NASに保存されたファイルに外出先からもアクセスしたい場合でも大丈夫。当社が提供する<a href="http://www.wbport.com" target="_blank">WBPORT.com</a>サービスをご検討ください。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <img src="oscar04.png" class="img-fluid"><br>
        共有フォルダの設定画面。アクセス可能なユーザーとグループを制限できます。
      </div>
      <div class="col-sm-6">
        <img src="oscar05.png" class="img-fluid"><br>
        ユーザーとグループの設定画面。
      </div>
    </div>

    <h2>すぐに試用を開始してみましょう。</h2>
    <p>全文検索NASを使ってみるには、使っていない適当なパソコンに専用オペレーティングシステム <a href="http://www.walbrix.net">Walbrix(ワルブリックス)</a>をインストールします。</a></p>

    <div class="panel panel-success">
      <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span> 今すぐ無料でお試しください</div>
      <div class="panel-body">
    <div class="row">
    <div class="col-sm-7">
      <p>専用OSをインストールすれば、使わなくなったパソコンを全文検索NASとして再利用できます。個人利用なら試用期限無期限で実質無料。</p>
      <p>インストールや機能に関するお問い合わせは 050-3159-5792 まで(朝8時〜夜10時,年中無休)</p>
    </div>
    <div class="col-sm-5">
      <p><a class="btn btn-success btn-lg btn-block" href="http://www.walbrix.net/download.html" target="_blank" style="white-space: normal"><span class="glyphicon glyphicon-download-alt"></span> 専用OS「Walbrix」をダウンロード<br><small>メールを送っておいて後でダウンロードすることもできます</small></br></a></p>
            <p><a class="btn btn-default btn-lg btn-block" href="http://assets.walbrix.com/product/oscar/oscar-manual-0.3.pdf" target="_blank" style="white-space: normal"><span class="glyphicon glyphicon-book"></span> マニュアルをダウンロード(PDF)</a></p>
    </div>
    </div>
      </div>
    </div>

    <p>全文検索NASに興味があるけど、始め方がよくわからないという方はこちらへ:</p>
    <p class="lead"><big>全文検索NAS専用お問い合わせ番号 050-3159-5792</big>(朝8時〜夜10時,年中無休) <br>メール: <a href="mailto:{{inquiry_address}}">{{inquiry_address}}</a><br>ワルブリックス株式会社 <small>(システムを実際に開発している者が電話に出ます)</small></p>

    <h3>もしくはプリインストール機の購入をご検討ください</h3>
    <p><a href="http://www.maxserve.co.jp/storage/oscar.html"><img src="http://static.walbrix.net/va/oscar/finderix.jpg" class="img-fluid"></a></p>
    <p>全文検索NASプリインストールのオーダーメイドサーバーならマックスサーブの <a href="http://www.maxserve.co.jp/storage/oscar.html" target="_blank">Finderix</a>をどうぞ</p>

    <h2>今は時間がない方へ</h2>
    <p class="lead">興味はあるけど、今は時間がない・・・</p>
    <p>大丈夫です。「お気に入り」を使わなくても「全文検索NAS」でインターネットを検索すればまたいつでもこのページへ来ることができます。</p>

    <p><img src="oscar_internet_search.png" class="img-fluid"></p>

    <p><big>「全文検索NAS」</big> （ぜんぶんけんさくなす）いつか時間がある時にこの言葉だけを思い出してください！</p>

    <div class="socialbuttons" style="margin-top:1em;">
      <div class="twitter pull-left"></div>
      <div class="facebook pull-left"></div>
      <div class="google pull-left"></div>
      <div class="hatena pull-left"></div>
    </div>
<div class="clearfix"></div>
</div>
</div>
{%endblock%}
